.SideBar{
  position: relative;
}

.SideBar_layer {
  bottom: 0;
  height: 0;
  left: 0;
  position: 0;
  right: auto;
  top: 0;
  width: 0;
  z-index: 998;
  background-color: #000;
}

.SideBar_container {
  bottom: 0;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: 0;
  z-index: 998;
}
